{% load i18n %}
{% load app_filters %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% if analytics_code %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ analytics_code }}"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ analytics_code }}');
    </script>
    {% endif %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- Chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-colorschemes@latest/dist/chartjs-plugin-colorschemes.min.js"></script>

    <title>{% trans "Stats for" %} {{ site_name }}</title>
  </head>
  <body>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h1>{% trans "Stats for" %} {{ site_name }}</h1>
                <p>
                    {% trans "Updated" %}: {{ last_update|date:'Y-m-d' }}
                </p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm">
                <h3>{% blocktrans %}{{ year }} donations{% endblocktrans %}</h3>
                <canvas id="donations_this_year"></canvas>
            </div>
            <div class="col-sm">
                {% if current_year %}
                <h3>{% blocktrans %}Road to {{donations_this_year_expected}} donations{% endblocktrans %}</h3>
                {% else %}
                <h3>{% blocktrans %}Total donations{% endblocktrans %}</h3>
                {% endif %}
                <canvas id="donations_this_year_progress"></canvas>
            </div>
        </div>
        {% if current_year %}
        <div class="row mt-3">
            <div class="col-sm">
                <h3>{% trans "Current year donations" %}</h3>
                <canvas id="donations"></canvas>
            </div>
            <div class="col-sm">
                <h3>{% trans "Last 10 years donations" %}</h3>
                <canvas id="donations_yearly"></canvas>
            </div>
        </div>
        {% endif %}
        <div class="row mt-3">
            <div class="col-sm">
                <h3>{% trans "Current year blood types" %}</h3>
                <canvas id="blood_type_last_year"></canvas>
            </div>
            <div class="col-sm">
                <h3>{% trans "Current year donations type" %}</h3>
                <canvas id="donations_last_year_by_type"></canvas>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm">
                <h3>{% trans "Current year donors age" %}</h3>
                <canvas id="age_last_year"></canvas>
            </div>
        </div>
    </div>
    
    <script>
    var ctx = document.getElementById("donations").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            datasets: [
            {
                label: '{% trans "Female" %}',
                data: [{% for t, v in donations_data_female %}{x: '{{ t|date:'Y-m-d' }}', y:{{ v }}},{% endfor %}],
            },
            {
                label: '{% trans "Male" %}',
                data: [{% for t, v in donations_data_male %}{x: '{{ t|date:'Y-m-d' }}', y:{{ v }}},{% endfor %}],
            },
            {
                label: '{% trans "Total" %}',
                data: [{% for t, v in donations_data %}{x: '{{ t|date:'Y-m-d' }}', y:{{ v }}},{% endfor %}],
            },
            ],
        },
        options: {
            scales: {
                xAxes: [{
                    type: 'time',
                    time: {
                        unit: 'month'
                    }
                }],
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
            plugins: {
                colorschemes: {
                    scheme: 'brewer.Set1-3'
                }
            },
            }
    });
    </script>

    <script>
    var ctx = document.getElementById("donations_this_year").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            datasets: [
            {
                label: '{% trans "Actual donations" %}',
                data: [{% for t, v in donations_data_this_year %}{x: '{{ t|date:'Y-m-d' }}', y:{{ v }}},{% endfor %}],
                pointBorderColor: "#c22725",
                pointBackgroundColor: "#950b0b",
                borderColor: "#aa0705",
                backgroundColor: "#D93138",
            },
            {% if current_year %}
            {
                label: '{% trans "Estimated donations" %}',
                data: [{% for t, v in donations_data_this_year_projection %}{x: '{{ t|date:'Y-m-d' }}', y:{{ v }}},{% endfor %}],
                borderColor: "#3e95cd",
                fill: false,
            },
            {% endif %}
            ],
        },
        options: {
            scales: {
                xAxes: [{
                    type: 'time',
                    time: {
                        unit: 'month'
                    }
                }],
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            },
            }
    });
    </script>

    <script>
    var ctx = document.getElementById("donations_this_year_progress").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            datasets: [{
                data: [
                    {{ donations_this_year_count }},
                    {% if current_year %}
                    {{ donations_this_year_remaining }},
                    {% endif %}
                ]
            }],
            labels: [
                '{% trans "Done" %}',
                {% if current_year %}
                '{% trans "Remaining" %}',
                {% endif %}
            ]
        },
        options: {
            plugins: {
                colorschemes: {
                    scheme: 'brewer.Dark2-8'
                }
            },
        }
    });
    </script>

    {% if current_year %}
    <script>
    var ctx = document.getElementById("donations_yearly").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            datasets: [{
                label: '{% trans "Donations" %}',
                data: [{% for t, v in donations_yearly_data %}{x: '{{ t|date:'Y-m-d' }}', y:{{ v }}},{% endfor %}]
            }],
        },
        options: {
            scales: {
                xAxes: [{
                    type: 'time',
                    time: {
                        unit: 'year'
                    }
                }],
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            },
            plugins: {
                colorschemes: {
                    scheme: 'brewer.PRGn3'
                }
            },
            }
    });
    </script>
    {% endif %}


    <script>
    var ctx = document.getElementById("blood_type_last_year").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            datasets: [{
                data: [{% for type, rh, count in blood_type_last_year %}{{count}},{% endfor %}]
            }],
            labels: [{% for type, rh, count in blood_type_last_year %}'{{type}}{{rh}}',{% endfor %}]
        },
        options: {
            plugins: {
                colorschemes: {
                    scheme: 'brewer.Dark2-8'
                }
            },
        }
    });
    </script>

    <script>
    var ctx = document.getElementById("age_last_year").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            datasets: [{
                data: [{% for i in age_last_year %}{{i}},{% endfor %}]
            }],
            labels: ['<28','28<x<39','39<x<50','>50']
        },
        options: {
            plugins: {
                colorschemes: {
                    scheme: 'brewer.Dark2-8'
                }
            },
        }
    });
    </script>

    <script>
    var ctx = document.getElementById("donations_last_year_by_type").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            datasets: [{
                data: [{% for element in donations_last_year_by_type %}{{element.count}},{% endfor %}]
            }],
            labels: [{% for element in donations_last_year_by_type %}'{{donation_type|get_item:element.donation_type}}',{% endfor %}]
        },
        options: {
            plugins: {
                colorschemes: {
                    scheme: 'brewer.Set1-3'
                }
            }
        }
    });
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>