services:
  reminders:
    container_name: reminders
    restart: always
    image: gionn/blood-reminders:v1.0.2
    pull_policy: always
    volumes:
      - ./data:/data
    environment:
      DEBUG: "False"
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      SECRET_KEY: ${SECRET_KEY}
      ADMIN_PASSWORD: ${ADMIN_PASSWORD}
      DONATIONS_PROJECTION: ${DONATIONS_PROJECTION}
      DONATIONS_EXPECTED: ${DONATIONS_EXPECTED}
      GA_CODE: ${GA_CODE}
      CSRF_TRUSTED_ORIGINS: ${CSRF_TRUSTED_ORIGINS}
      GUNICORN_CMD_ARGS: ${GUNICORN_CMD_ARGS}
      PORT: ${PORT:-8000}
    depends_on:
      - db
  db:
    container_name: db
    image: postgres:16.4-alpine
    restart: always
    volumes:
      - ${DB_PATH}:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
  nginx:
    build: nginx
    restart: unless-stopped
    ports:
      - '443:443'
    depends_on:
      - reminders
